{% extends "template.html" %}
{% block content %}



<div class="p-3 mb-2 bg-info text-dark bg-opacity-25">

<div class="position-relative start-50"><h1>Welcome</h1></div>
<div>
<p>Welcome to our Careers Convention 2021. </p>
<p>We are delighted to welcome to Parkstone Grammar School representatives of higher education, industry and commerce. </p>
<p>We are very proud of the whole educational experience offered to our students and wish to capitalise on this with effective and relevant career planning.  Our careers advice and support is outstanding and in November 2017 we successfully obtained the Quality in Careers Standard Award which is valid for 3 years. As a school we continue with our strong commitment to ensure that we provide the best possible careers advice and information so that our students can make informed choices that are right for them in their next steps beyond Parkstone. </p>   
<p>If you have any questions or queries, please do not hesitate to ask the staff or prefects who will be in attendance all evening. </p>
<p>We advise students to visit as wide a range of stands as possible as any discussion will help confirm students’ career thoughts. </p>
<p>Thank you for supporting this event and I hope that all concerned enjoy the evening and find it a valuable experience. </p>
<p>Thank you to everyone who has made this highly successful event possible.</p>
</div>
<h3> David Hallsworth<br>Headteacher</h3>

</div>

{% endblock %}
