{% extends "template.html" %}
{% block content %}

	<h1>Acknowledgement</h1>

	<p>We would like to express our sincere thanks to all the companies and individuals who have freely given their time to support our Careers Convention 2020.</p>
	<p>We would particularly like to thank <a href="/delegate/jpmorgan">JP Morgan</a> who helped to fund the delegates buffet this evening.</p>
	<img id="myImage" src="/static/jpmorgan.png" style="width:100px">
	<p>It is all of their contributions that has made the event such a success.</p>

	<h3>Thank you</h3>

{% endblock %}
