{% extends "template.html" %}
{% block content %}
	<p>{{row["categpry"]}}</p>	

	<h1>{{row["name"]}}</h1>	

	{% if row["category_id"] != None %}
	<p>Category: <a title="Click here to see all delegates in the same category." href="/delegates/{{row["category_id"]}}">{{row["category_id"]}}</a></p>	
	{% endif %}

	<p>{{row["description"]}}</p>	

	<p>Location: {{row["location"]}}</p>

	{% if row["externalurl"] != None %}
	<p>Website: <a title="Click here to visit the {{row["name"]}} website." href="{{row["externalurl"]}}">{{row["externalurl"]}}</a></p>	
	{% endif %}
	<p>&nbsp;</p>
	<p>Go back to the <a href="/delegates">list of delegates</a>.</p>
{% endblock %}
