
{% extends "template.html" %}
{% block content %}
	<h1>Delegates</h1>
	<p>Here you can find the list of delegates that are attending this years' PGS Careers Convention.</p>
	<p>We have provided a <a href="/map">location map</a> showing where all delegates are located within the hall.</p>

	<table>
		<tr><th>Name</th><th>Location</th><th>Description</th></tr>
		{% for row in rows %}
		<tr>
		   <td><a href="/delegate/{{row["internalURL"]}}">{{row["name"]}}</a></td>
		   <td>{{row["location"]}}</td>	
		   <td>{{row["description"]}}</td>	
		</tr>
	 {% endfor %}
	</table>
{% endblock %}
