
{% extends "template.html" %}
{% block content %}
	<h1>Latest News</h1>
	<p>I`m really excited to say that this year sees the start of making the Careers Convention as environmentally friendly as possible. </p>
	<p>This year, we have gotten rid of the printed guide in exchange for the website you are currently reading</p>
	<p>These changes help not only the school from having to print several hundred pamphlets that will be thrown away but also the environment.</p>
	<p>In addition all the table numbering and signage have been reused from the past few years.</p>

	<h2>To companies unable to attend</h2>
	<p>Each year we try and ensure as much variety of delegates as possible. We invite many companies, some who are unable to attend for a number of reasons and some who just don`t respond to our request.</p>
	<p>Once again, this year we have faced the difficulty that companies have struggled to secure volunteers or to release staff due to the current uncertainty surrounding coronavirus.</p>
	<p>If you work for a company that is not represented and you think they would like to be next year please leave the details with the prefects at the door or email <a href="mailto:julia.wilkinson@parkstone.poole.sch.uk">julia.wilkinson@parkstone.poole.sch.uk</a></p> 
	<p>Many thanks.</p>
{% endblock %}
